# Turn on rewriting engine
RewriteEngine On

# The document root
RewriteBase /

# Don't apply to existing symbolic links, files or directories
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all after index.php/
RewriteRule .* index.php/$0 [PT,L]
